before_install:
  - git submodule update --init --recursive

language: objective-c

notifications:
  webhooks:
    - http://simonwesterlund.se/travis.php
    
xcode_project: AtoZUniversal.xcodeproj

xcode_scheme: AtoZUniversal
    