
language: objective-c
osx_image: xcode6.4
xcode_project: AtoZUniversal.xcodeproj
xcode_scheme: AtoZUniversal

# disable the default submodule logic
git:
  submodules: false
before_install:
  - git submodule update --init --recursive

script: xcodebuild -scheme AtoZUniversal test


#script: xctool -project AtoZUniversal.xcodeproj -scheme AtoZUniversal build test CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

# xcode_project:  AtoZUniversal.xcodeproj
# xcode_scheme:   AtoZUniversal

# notifications:
#  webhooks:
#    - http://simonwesterlund.se/travis.php

#  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
